
<html>
  <head>

    <title>CS 340 Project</title>
<link rel="stylesheet" href="../static/styles/style.css">
  </head>


    <div class="bg-img">
    </div>
    <div class="primary">

      <h1> Choose a table:  </h1>

      <div class="buttons">

        <a href="./characters">
          <i class="fas fa-users fa-icons"></i>
          <br>
          Characters
        </a>

        <br>
        <a href="./houses.html">
          <i class="fab fa-fort-awesome fa-icons"></i>
          <br>
          Houses
        </a>

        <br>
        <a href="./skills.html">
          <i class="fas fa-hat-wizard fa-icons"></i>
          <br>
          Skills
        </a>

        <br>
        <a href="./religions.html">
          <i class="fas fa-church fa-icons"></i>
          <br>
          Religions
        </a>

      </div>
    </div>

    <div>


    </div>

  <div class="footer primary">

    <h2>Game of Thrones Database</h2>
    <p>CS340 at Oregon State University</p>

  </div>


</html>
