<div class="primary">
  <div class="hero">
    <h2>Game of Thrones Database</h2>
    <p>CS340 at Oregon State University</p>

    <br>

    <h1> [view characters table] </h1>

    <br>
    <br>

    <div class="buttons">

      <a href="./characters">
        <button type="button">Modify Characters</button>
      </a>

      <br>
      <a href="./houses">
        <button type="button">Modify Houses</button>
      </a>

      <br>
      <a href="./skills">
        <button type="button">Modify Skills</button>
      </a>

      <br>
      <a href="./religions">
        <button type="button">Modify Religions</button>
      </a>

    </div>
  </div>

  <div>

  </div>
</div>
