<div class="primary">

  <h2>Game of Thrones Database</h2>
  <p>Religions Database</p>

  <br>

  <h1> [view religion table] </h1>

  <br>

  <h2>Modify Table</h2>

    <form>
    Religion:<br>
    <input type="text" name="religion" value="Religion Name">
    <br>
    I'd like to change...<br>
  <input type="radio" name="name" value="name"> Name<br>
  <input type="radio" name="worshippers" value="worshippers"> Worshippers<br>
  <input type="radio" name="theism" value="theism"> Theism<br>
  <input type="radio" name="age" value="age"> Age<br>
  <input type="radio" name="symbol" value="symbol"> Symbol<br>
  <br>
  ...to
  <input type="text" name="newValue" value="New Value">
  <br>
  <input type="submit" value="Submit">
    </form>

  <a href="./">
    <h3> Back </h3>
  </a>

</div>
