
<html>
  <head>

    <title>Religions</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>


  <div class="primary">

    <h2>Game of Thrones Database</h2>
    <p>Religions Database</p>

    <br>

    <div class="buttons">

      <a href="./characters">
        <i class="fas fa-users fa-icons"></i>
        <br>
        Characters
      </a>

      <br>
      <a href="./houses">
        <i class="fab fa-fort-awesome fa-icons"></i>
        <br>
        Houses
      </a>

      <br>
      <a href="./skills">
        <i class="fas fa-hat-wizard fa-icons"></i>
        <br>
        Skills
      </a>

      <br>
      <a href="./religions">
        <i class="fas fa-church fa-icons"></i>
        <br>
        Religions
      </a>
    </div>



	<h1 class = "tableCenter"> Religions Table </h1>

      <div class="tableCenter">
          <table border='1'>
          <thead>
              <th>Name</th>
              <th>Worshippers</th>
              <th>Theism</th>
              <th>Age</th>
              <th>Symbol</th>
          </thead>
          <tbody>
            {% for r in rows %}
            <tr>
              <td> {{ r.0 }}</td>
              <td> {{ r[1] }}</td>
              <td> {{ r[2] }}</td>
              <td> {{ r[3] }}</td>
              <td> {{ r[4] }}</td>

            </tr>
            {% endfor %}
          </tbody>
      </table>
      </div>


  <br>

</div>



<div class="explore">
  <span><h2>Explore Religions</h2></span>

  <div class="wrap">
     <a href="./religions"> <span><h2>Cancel Edit</h2></span> </a>
  </div>

  <div class="elements">

    <div class="explore">

      <span>Show character affiliations for:

        <form id="followers" action="/followers" method = "POST">
        <select name = "explRel">

            {% for r in religions %}
            <option value = "{{ r[0] }}"> {{ r[1] }} </option>
            {% endfor %}

          </select>
      </span>





        <input type="submit" value="Show me!">

      </form>
    </div>





    <div class="explore">



      <div class="explore">

        <span>Show all:

          <form id="followers" action="/theisms" method = "POST">
          <select name = "explThe">

              {% for t in theisms %}
              <option value = "{{ t[0] }}"> {{ t[0] }} </option>
              {% endfor %}

            </select>

            religions!
        </span>





          <input type="submit" value="Show me!">

        </form>
      </div>




      <!--
    <span>

        Did we miss something? Assign a religion to a character!

    </span>

    <span>

    Character:

    <select name="skillChar" form="skillChar" class="addSkillsMenu">

      <option value="Char1">Eddard Stark</option>

      <option value="Char2">Theon Greyjoy</option>

      <option value="Char3">John Snow</option>

      <option value="Char4">The Hound</option>

    </select>



    Religion:

    <select name="addReligion" form="addReligion" class="skillsMenu">

      <option value="Religion1">Religion1</option>

      <option value="Religion2">Religion2</option>

      <option value="Religion3">Religion3</option>

      <option value="Religion4">Religion4</option>

    </select>



      <input type="submit" value="Submit">

    </span>

    -->

  </div>



  </div>
  </div>


<hr>
  <div class="leftMargin CRUD">

    <div>
      <h2>Add Religion</h2>
      <br>
        <form  id="addReligions" action="/add_religion" method = "POST">
          Name*: <br> <input type="text" name="addName" placeholder="Religion Name"><br>
          <br>
          Number of Worshipers: <br>  <input type="text" name="addWorshipers" placeholder="Worshipers"><br>
          <br>
          Theism: <br> <input type="text" name="addTheism" placeholder="Theism"><br>
          <br>
          Age: <br> <input type="text" name="addAge" placeholder="Age"><br>
          <br>
          Symbol: <br> <input type="text" name="addSymbol" placeholder="Symbol"><br>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>

      <br>
      <br>

      <div>
        <h2>Edit Religions</h2>
        <br>

             <select name = "editReligion">
	        {% for r in rows %}
	           <option value = "{{ r[5] }}">{{ r[0] }}</option>
	        {% endfor %}
             </select>

	     <button type="button" value="Update" onclick="window.location.href=('edit_religion/{{rows[5]}}')">Update</button>

	<form id="updateR" action="/update_religion/{{editR[0]}}" method = "POST">
	   Religion: <br>
	   <input type="text" name="upName" value = {{editR[1]}}>
           <br>
	   <input type="text" name="upWorshipers" value = {{editR[2]}}>
           <br>
	   <input type="text" name="upTheism" value = {{editR[3]}}>
	   <br>
	   <input type="text" name="upAge" value = {{editR[4]}}>
   	   <br>
	   <input type="text" name="upSymbol" value = {{editR[5]}}>
	   <br>

	   <input type="submit" value="Submit">
	</form>
    </div>

    <br>
    <br>

    <div>
      <h2> Delete Religion </h2>
      <br>
      <br>
      Religion: <br>
        <form id="deleteR" action="/delete_religion/" method="POST">
          <select name="deleteReligion">
	    {% for r in rows %}
	      <option value = "{{r[5]}}">{{r[0]}}</option>
	    {% endfor %}
	  </select>
	  <button type="submit" value="Submit">Delete</button>
	</form>
    </div>


  </div>
  <div class="primary">
    <a href="./">
      <h3> Home </h3>
    </a>
  </div>

  <br>
  <br>

  <div class="footer primary">

    <h2>Game of Thrones Database</h2>
    <p>CS340 at Oregon State University</p>

  </div>




</html>
