
<html>
  <head>
    <title>Characters</title>
    <link rel="stylesheet" href="../static/styles/style.css">
  </head>


  <div class="primary">
    <h2>Game of Thrones Database</h2>
    <p>Characters Database</p>

    <br>

    <div class="buttons">

      <a href="./characters">
        <i class="fas fa-users fa-icons"></i>
        <br>
        Characters
      </a>

      <br>
      <a href="./houses">
        <i class="fab fa-fort-awesome fa-icons"></i>
        <br>
        Houses
      </a>

      <br>
      <a href="./skills">
        <i class="fas fa-hat-wizard fa-icons"></i>
        <br>
        Skills
      </a>

      <br>
      <a href="./religions">
        <i class="fas fa-church fa-icons"></i>
        <br>
        Religions
      </a>

    </div>


	<h1 class = "tableCenter"> Characters Table </h1>

    <div class = "tableCenter">
    <table border='1'>
    <thead>
        <th>First Name</th>
        <th>Last Name</th>
	<th>Nobility</th>
	<th>Gender</th>
	<th>Age</th>
        <th>House</th>
        <th>Religion</th>
    </thead>
    <tbody>
      {% for r in rows %}
      <tr>
        <td> {{ r.0 }}</td>
        <td> {{ r[1] }}</td>
        <td> {{ r[2] }}</td>
        <td> {{ r[3] }}</td>
	      <td> {{ r[4] }}</td>
	      <td> {{ r[5] }}</td>
	      <td> {{ r[6] }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>


    <br>
  </div>

  <br>


  <div class="explore">
    <span><h2>Explore Characters</h2></span>

    <div class="wrap">
       <a href="./characters"> <span><h2>Cancel Edit</h2></span> </a>
    </div>



    <div class="elements">

      <div class="explore">
        <span>Show all:
          <form id="nobility" action="/nobility" method = "POST">

          <select name="explNob" class="addSkillsMenu">
            <option value="highborn">Highborns</option>
            <option value="lowborn">Lowborns</option>
            <option value="other">Other</option>
          </select>

        </span>
        <span>
          <input type="submit" value="Show me!">
        </span>
      </form>
      </div>

      <div class="explore">
        <span>Who is in house:
          <form id="hMember" action="/hMember" method = "POST">
        <select name="explH">
          <option value="Tyrell">Tyrell</option>
          <option value="Stark">Stark</option>
          <option value="Lannister">Lannister</option>
          <option value="Greyjoy">Greyjoy</option>
        </select>
        ? </span>

        <span>
          <input type="submit" value="Show me!">
        </span>
      </form>
      </div>



      <div class="explore">
        <span>Show all:
          <form id="gender" action="/gender" method = "POST">
            <select name="explGen" class="addSkillsMenu">
              <option value="male">Males</option>
              <option value="female">Females</option>
              <option value="other">Other</option>
            </select>

          </span>
        <span>
          <input type="submit" value="Show me!">
        </span>
      </form>
      </div>


    </div>
    </div>


<hr>



  <div class="leftMargin CRUD">

    <div>
      <h2>Add Character</h2>
      <br>
        <form  id="addChar" action="/add_character" method = "POST">
          First Name:  <br>
          <input type="text" name="fname" placeholder="First Name">
          <br>
          <br>
          Last Name*:  <br>
          <input type="text" name="lname" placeholder="Last Name">
          <br>
          <br>
          Nobility: <br>
          <input type="radio" name="nobility" value="Highborn"> Highborn <br>
          <input type="radio" name="nobility" value="Lowborn"> Lowborn <br>
          <input type="radio" name="nobility" value="Other"> Other <br>
          <br>
          Gender:  <br>
          <input type="radio" name="gender" value="Male"> Male <br>
          <input type="radio" name="gender" value="Female"> Female <br>
          <input type="radio" name="gender" value="Other"> Other <br>
          <br>
          <br>
          Age:  <br>
          <input type="text" name="age" placeholder="Age">
          <br>
          <br>
          House:  <br>
          <select name = "house">

              {% for h in houses %}

              <option value = "{{ h[0] }}"> {{ h[1] }} </option>

              {% endfor %}

              <option value=NULL>Null</option>

            </select>
          <br>
          <br>
          Religion:  <br>


          <select name = "religion">

              {% for r in religions %}

              <option value = "{{ r[0] }}"> {{ r[1] }} </option>

              {% endfor %}

              <option value=NULL>Null</option>

            </select>


          <br>
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
      <br>
      <br>
      <div>
        <h2>Edit Character</h2>
        <br>

        <select name = "editCharacter">

            {% for r in rows %}

            <option value = "{{ r[7] }}"> {{ r[0] }} {{ r[1] }}</option>

            {% endfor %}

          </select>

          <button type="button" value="Update" onclick="window.location.href=('edit_character/{{rows[7]}}')">Update</button>


          <form  id="updateChar" action="/update_character/{{editChar[0]}}" method = "POST">
            Character:<br>
            <input type="text" name="fname" value={{editChar[1]}}>
            <br>
            <input type="text" name="lname" value={{editChar[2]}}>
            <br>
            <select name = "nobility">

              <option selected="selected"> {{editChar[3]}} </option>
              <option value="Highborn">Highborn</option>
  	      <option value="Lowborn">Lowborn</option>
	      <option value="Other">Other</option>

            </select>
            <br>
            <select name = "gender">

              <option selected="selected"> {{editChar[4]}} </option>
              <option value="Male">Male</option>
	      <option value="Female">Female</option>
	      <option value="Other">Other</option>

            </select>

            <br>
            <input type="text" name="age" value={{editChar[5]}}>
            <br>
            <select name = "house">

                {% for h in houses %}

                  {% if h[0] == editChar[6] %}

                    <option selected value = "{{ h[0] }}"> {{ h[1] }} </option>

                  {% else %}

                    <option value = "{{ h[0] }}"> {{ h[1] }} </option>

                  {% endif %}

                {% endfor %}
                <option value=NULL>Null</option>

              </select>
            <br>

            <select name = "religion">

                {% for r in religions %}

                  {% if r[0] == editChar[7] %}

                    <option selected value = "{{ r[0] }}"> {{ r[1] }} </option>

                  {% else %}

                    <option value = "{{ r[0] }}"> {{ r[1] }} </option>

                  {% endif %}

                {% endfor %}
	        <option value=NULL>Null</option>

              </select>
            <br>


            <input type="submit" value="Submit">
              </form>


        </div>
      <br>
      <br>

      <div class="verticalAlignFlex">
        <div>
          <h2> Remove Skill </h2>
          <br>
            <form id="deleteCS" action="/remove_character_skill" method = "POST">
            Character: <br>
              <select name="possessingCharacter">
                {% for r in rows %}
                  <option value = "{{r[7]}}">{{r[0]}} {{r[1]}}</option>
                {% endfor %}
              </select>
            <br>
            Skill: <br>
              <select name="possessedSkill">
                {% for s in skillRows %}
                  <option value = "{{s[0]}}">{{s[1]}}</option>
                {% endfor %}
              </select>
            <button type="submit" value="Submit">Submit</button>
          </form>
        </div>

        <br>
        <br>

        <div>
          <h2> Delete Character </h2>
          <br>
          Character: <br>
            <form id="deleteC" action="/delete_character/" method="POST">
	      <select name="deleteCharacter">
		{% for r in rows %}
		  <option value="{{r[7]}}">{{r[0]}} {{r[1]}}</option>
		{% endfor %}
	      </select>
	      <button type="submit" value="Submit">Delete</button>
        </div>

        <div>
        </div>
      </div>
  </div>



  <div class="primary">
    <a href="./">
      <h3> Home </h3>
    </a>
  </div>

  <br>
  <br>

  <div class="footer primary">

    <h2>Game of Thrones Database</h2>
    <p>CS340 at Oregon State University</p>

  </div>




</html>
